* {
  font-size: .9rem;
  font-family: "Gothic A1", sans-serif !important;
  line-height: 1.8 !important;
}


/* 본문 커스텀 */

p {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

li {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

.cell {
  margin-bottom: 0rem;
}

.cell>.sourceCode {
  margin-bottom: 0;
}

.cell-output>pre {
  margin-bottom: 0;
}

.cell-output>pre,
.cell-output>.sourceCode>pre,
.cell-output-stdout>pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid lightsalmon;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output>.sourceCode {
  border: none;
}

.cell-output>.sourceCode {
  background: none;
  margin-top: 0;
}

div.description {
  opacity: 70%;
}

/* 
source code
*/

/* title 없는 블럭 */
pre>code.sourceCode {
  white-space: pre-wrap;
  margin-left: .8rem;
}


/* 
custom 
*/

.quarto-listing-category-title {
  margin-top: 2rem;
}

blockquote.blockquote {
  /* padding-top: 1.5rem; */
  padding-top: .05rem;
  /* padding-bottom: 1.5rem; */
  padding-bottom: .05rem;
}

#quarto-content>* {
  padding-top: 0px;
}

/* listing: grid 일때만 활성화 */

/* .page-columns>.content { */
/* margin-left: 3rem; */
/* margin-right: 3rem; */
/* } */

.listing-pagination {
  padding-top: 2rem;
}

.listing-categories {
  padding-top: 0.3rem;
}

.text-muted {
  padding-top: 0.3rem;
}

.card-title {
  font-weight: bold;
  /* letter-spacing: -0.08rem; */
  padding-bottom: 0.3rem;
}

.card-subtitle {
  /* letter-spacing: -0.05rem; */
  font-weight: normal;
}

.card-text:last-child {
  font-weight: lighter;
}

/* listing: grid 활성화 부분 끝 */


/* caption */
.column-margin {
  opacity: 50%;
}

/* sidebar */

.sidebar.sidebar-navigation>* {
  padding-top: 0rem;
}

.sidebar-item {
  /* font-weight: lighter; */
  margin-top: .4rem;
  margin-bottom: .4rem;

}


/* footer */
footer {
  margin-top: 3rem;
}

.page-navigation {
  margin-top: 5rem;
  margin-bottom: 5rem;
}





/* 
font
*/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}