* {
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans KR";
}


/* 커스텀이지만 필수임: font-size는 subtitle에 맞춰서 변경할 것 */
a {
  font-size: 0.8rem;
}

/* 문단 간격 커스텀 */
p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

li {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

.cell {
  margin-bottom: 0rem;
}

.cell>.sourceCode {
  margin-bottom: 0;
}

.cell-output>pre {
  margin-bottom: 0;
}

.cell-output>pre,
.cell-output>.sourceCode>pre,
.cell-output-stdout>pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid lightsalmon;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output>.sourceCode {
  border: none;
}

.cell-output>.sourceCode {
  background: none;
  margin-top: 0;
}

div.description {
  opacity: 70%;
}



/* 
custom 
*/

#quarto-content {
  padding-top: 3rem;
}

.navbar-title {
  font-size: 1.5rem;
}

#quarto-content>* {
  padding-top: 0px;
  /* 14px에서 우측 워드 클라우드와 높이 맞추기 위해 제거 */
}

/* listing: grid 일때만 활성화 */

.page-columns>.content {
  margin-left: 3rem;
  margin-right: 3rem;
}

.listing-pagination {
  padding-top: 2rem;
}

.listing-categories {
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.quarto-grid-item>.post-contents {
  font-size: 0.8rem;
}

.text-muted {
  padding-top: 0.3rem;
}

.card-title {
  font-weight: bold;
  letter-spacing: -0.08rem;
  padding-bottom: 0.3rem;
}

.card-subtitle {
  font-size: 0.8rem;
  letter-spacing: -0.05rem;
  font-weight: normal;
}

.card-text:last-child {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* listing: grid 활성화 부분 끝 */


/* caption */
.column-margin {
  opacity: 50%;
}

/* footer */
footer {
  padding-top: 3rem;
}





/* font */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}