* {
  font-size: 97%;
}

.cell {
  margin-bottom: 1rem;
}

.cell>.sourceCode {
  margin-bottom: 0;
}

.cell-output>pre {
  margin-bottom: 0;
}

.cell-output>pre,
.cell-output>.sourceCode>pre,
.cell-output-stdout>pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid lightsalmon;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output>.sourceCode {
  border: none;
}

.cell-output>.sourceCode {
  background: none;
  margin-top: 0;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 100%;
  opacity: 70%;
}



/* custom */


footer {
  padding-top: 3rem;
}

/* #quarto-sidebar {
  padding-left: 10%;
  padding-right: 10%;
} */

#title-block-header {
  padding: 0%
}


@media (max-width: 750px) {

  /* 상단이 비지 않게 하기 위함 */
  header {
    padding: 0;
  }

  #quarto-document-content {
    padding-top: 1rem;
  }

  #quarto-header {
    padding: 0rem;
  }


  #quarto-sidebar {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
  }

  #quarto-margin-sidebar {
    display: none;
  }


}