/*-- scss:defaults --*/

// whitemode style: background color
$body-bg: #F0F0F0;
$navbar-bg: #F0F0F0;

$code-block-bg: #bfbfbf;
$popover-bg: #bfbfbf;

/*-- scss:rules --*/

/*-- scss:mixins --*/

/*-- scss:functions --*/

/*-- scss:uses --*/